<!DOCTYPE html>
<html>
<head>
    <link
    href="https://cdn.bokeh.org/bokeh/release/bokeh-3.8.1.min.css"
     rel="stylesheet">
    <script
    src="https://cdn.bokeh.org/bokeh/release/bokeh-3.8.1.min.js">
    </script>
    <title>Scientist Similarity Map</title>
    {{ script|safe }}
</head>
<body>
    <h1>Scientist Similarity Map</h1>

    <form method="post">
        <input type="text" name="author" placeholder="Scientist name">
        <button type="submit">Generate</button>
    </form>

    {{ div|safe }}
</body>
</html>
